extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Etiam cursus magna velit, ut ultricies mauris lacinia non. Etiam a finibus turpis, vitae dictum lorem. Aliquam non leo sagittis, lacinia urna at, auctor nunc. Pellentesque efficitur varius lacinia. Nulla in justo risus.
                p Phasellus condimentum, sapien id laoreet varius, urna orci lobortis purus, sit amet pellentesque diam augue in urna. Sed ultrices velit ac odio vulputate dapibus sit amet vel libero. Donec in rhoncus est, volutpat dapibus metus.Vestibulum placerat, elit felis sodales nibh, ut aliquam arcu magna a enim. Mauris sed semper mauris. Mauris suscipit lectus purus, quis dapibus quam maximus nec.
                p Maecenas tristique euismod lorem quis malesuada. Donec sodales vehicula odio vitae aliquam. Etiam sit amet quam eget nunc lacinia placerat a vel enim. Fusce vestibulum nibh ut ligula tempus vulputate. Phasellus tincidunt leo nec sollicitudin finibus. Vestibulum quis lorem condimentum, feugiat risus vitae, eleifend dui.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aenean augue lectus, dictum vel iaculis non, volutpat id est. Integer quis faucibus lacus. Fusce interdum luctus era.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aenean augue lectus, dictum vel iaculis non, volutpat id est. Integer quis faucibus lacus. Fusce interdum luctus era.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Aenean augue lectus, dictum vel iaculis non, volutpat id est. Integer quis faucibus lacus. Fusce interdum luctus era.